data:
  shared_machine: false

  name: Joao Cravo
  github:
    username: joaogbcravo
    email: {{ promptString "email" }}
  shell_plugins:
    - git
    - go
    - python
    - java
    - kubernetes
    - docker
  theme:
    prompt:
      bg: ResetColor
      user: BoldGreen1Fg
      host: BoldBlueFg
      dir: BoldYellowFg
      line: BoldWhiteFg
