#!/bin/zsh

# Path to your oh-my-zsh installation.
export ZSH=~/.oh-my-zsh

# Set name of the theme to load.
# Look in ~/.oh-my-zsh/themes/
#ZSH_THEME="robbyrussell"

# Uncomment the following line to use case-sensitive completion.
# CASE_SENSITIVE="true"

# Uncomment the following line to use hyphen-insensitive completion. Case
# sensitive completion must be off. _ and - will be interchangeable.
HYPHEN_INSENSITIVE="true"

# Uncomment the following line to disable bi-weekly auto-update checks.
# DISABLE_AUTO_UPDATE="true"

# Uncomment the following line to change how often to auto-update (in days).
# export UPDATE_ZSH_DAYS=13

# Uncomment the following line to disable colors in ls.
# DISABLE_LS_COLORS="true"

# Uncomment the following line to disable auto-setting terminal title.
# DISABLE_AUTO_TITLE="true"

# Uncomment the following line to enable command auto-correction.
# ENABLE_CORRECTION="true"

# Uncomment the following line to display red dots whilst waiting for completion.
COMPLETION_WAITING_DOTS="true"

# Uncomment the following line if you want to disable marking untracked files
# under VCS as dirty. This makes repository status check for large repositories
# much, much faster.
# DISABLE_UNTRACKED_FILES_DIRTY="true"

HIST_STAMPS="yyyy-mm-dd"

# Which plugins would you like to load? (plugins can be found in ~/.oh-my-zsh/plugins/*)
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Add wisely, as too many plugins slow down shell startup.

# User configuration
source $ZSH/oh-my-zsh.sh

# Load .shell
export CURRENT_SHELL="zsh"
source ~/.shell

local _git_plugins=("git")

local _aws_plugins=("aws")
local _docker_plugins=("docker")
local _kubernetes_plugins=("kubernetes")

local _java_plugins=("jenv")
local _node_plugins=("nvm" "nvm-auto")
local _python_plugins=("virtualenv" "virtualenvwrapper")

local _activated_modes_file=~/.shell.d/config/activated_modes

plugins=()
while IFS= read -r i; do
  local _plugins_var_name="_${i}_plugins"
  local _plugins=$(eval echo "\$$_plugins_var_name")
  echo "Activating ${i} plugins: $_plugins"
  plugins+=($(eval echo "\$$_plugins_var_name"))
done < $_activated_modes_file

echo "Plugins: ${plugins}"

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

